{% extends 'base.html.twig' %}

{% block title %}Detail produktu{% endblock %}

{% block body %}
    <br>
    <h1>{{ product.name }}</h1>
    <br>
    <table class="table table-bordered col-8">
        <tr>
            <td>Název produktu:</td>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <td>Popis:</td>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td>Skladem:</td>
            <td>{{ product.stock }} ks</td>
        </tr>
        <tr>
            <td>Cena:</td>
            <td>{{ product.price|number_format(2, ',', ' ') }} Kč</td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{{ path('basket_add', {'id': product.id}) }}" class="btn btn-primary">Vložit do košíku</a>
            </td>
        </tr>
    </table>

{% endblock %}
